@charset "UTF-8";
/*
 * @include respond-to(xs) {
 *       width: 100%;
 *	}
 */
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  background: #fff;
  /* Fallback for when there is no custom background color defined. */
}

blockquote, q {
  quotes: "" "";
}

blockquote {
  font-size: 16px;
  font-size: 1rem;
  padding: 30px 30px 30px 90px;
  margin: 40px 0;
  font-weight: 300;
  font-family: "Roboto Slab", sans-serif;
  border-radius: 5px;
  background: #eff2f6;
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

blockquote:before {
  display: block;
  position: absolute;
  left: 30px;
  top: 30px;
  line-height: .9;
  content: '“';
  font-family: "Roboto Slab", sans-serif;
  color: #a8b6c6;
  font-size: 80px;
  margin-right: 30px;
  font-weight: 700;
}

blockquote cite,
blockquote small {
  font-size: 16px;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 1.875em;
  display: block;
  color: #344583;
}

blockquote a cite,
blockquote a small {
  color: inherit;
  text-decoration: inherit;
}

blockquote p {
  margin: 0 0 0.72727em;
}

blockquote em,
blockquote i,
blockquote cite {
  font-style: normal;
}

blockquote strong,
blockquote b {
  font-weight: 600;
}

blockquote > :last-child {
  margin-bottom: 0;
}

hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 2em;
  margin-top: 2em;
}

ul, ol {
  margin: 0 0 1em 1.25em;
  padding: 0;
}

@media (max-width: 767px) {
  ul, ol {
    margin: 0 0 1.4375em 1.25em;
  }
}

ul li + li, ol li + li {
  margin-top: 1em;
}

@media (max-width: 767px) {
  ul li + li, ol li + li {
    margin-top: 1em;
  }
}

ul li + li li, ol li + li li {
  margin-top: 1em;
}

ul {
  list-style: circle;
}

ul li ol {
  margin-left: 2.5rem;
}

ul li ol li:before {
  display: none;
}

ol {
  list-style: decimal;
}

li > ul,
li > ol {
  margin-top: 1em;
  margin-left: 1em;
  margin-bottom: 0;
}

@media (max-width: 767px) {
  li > ul,
  li > ol {
    margin-top: 1em;
    margin-left: 1.25em;
  }
}

dt {
  font-weight: 600;
  margin: 0 0 1.4375em;
}

dd {
  margin: 0 1.25em 1.4375em;
}

img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */
}

figure {
  margin: 1em 0;
  /* Extra wide images within figure tags don't overflow the content area. */
}

figure figcaption {
  font-size: 12px;
  font-size: 0.75rem;
  color: #77818c;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 1.75em 0 1.75em;
  width: 100%;
}

th, td {
  padding: 0.5em;
  border: 1px solid #e2e2e2;
}

th {
  font-weight: 600;
  color: #344583;
  text-align: left;
}

thead th {
  background: #ffffff;
}

@media (min-width: 768px) {
  table {
    margin: 2.375em 0 2.375em;
  }
  th, td {
    padding: 1.25em 1.75em;
  }
  thead th, thead td {
    padding: 0.625em 1.75em 0.8125em;
  }
}

b,
strong {
  font-weight: 600;
}

del {
  color: #848484;
}

input[type="button"],
input[type="reset"],
input[type="submit"],
button[type="submit"],
.button,
.menu-highlighted-item a,
.more-link {
  height: 50px;
  border-radius: 25px;
  display: inline-block;
  line-height: 50px;
  background: #3f7bfe;
  color: #fff;
  font-size: 14px;
  font-size: 0.875rem;
  padding: 0 30px;
  border: none;
  font-weight: 700;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
button[type="submit"]:hover,
.button:hover,
.menu-highlighted-item a:hover,
.more-link:hover {
  background: #344583;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
}

input[type="button"]:active, input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus,
button[type="submit"]:active,
button[type="submit"]:focus,
.button:active,
.button:focus,
.menu-highlighted-item a:active,
.menu-highlighted-item a:focus,
.more-link:active,
.more-link:focus {
  color: #fff;
}

input[type="button"].secondary,
input[type="reset"].secondary,
input[type="submit"].secondary,
button[type="submit"].secondary,
.button.secondary,
.menu-highlighted-item a.secondary,
.more-link.secondary {
  background: #deeeff;
  color: #344583;
}

input[type="button"].secondary:hover,
input[type="reset"].secondary:hover,
input[type="submit"].secondary:hover,
button[type="submit"].secondary:hover,
.button.secondary:hover,
.menu-highlighted-item a.secondary:hover,
.more-link.secondary:hover {
  background: #3f7bfe;
  color: #fff;
}

input[type="button"]:disabled,
input[type="reset"]:disabled,
input[type="submit"]:disabled,
button[type="submit"]:disabled,
.button:disabled,
.menu-highlighted-item a:disabled,
.more-link:disabled {
  background: #eff2f6;
  color: #77818c;
}

input[type="button"]:disabled:hover,
input[type="reset"]:disabled:hover,
input[type="submit"]:disabled:hover,
button[type="submit"]:disabled:hover,
.button:disabled:hover,
.menu-highlighted-item a:disabled:hover,
.more-link:disabled:hover {
  cursor: not-allowed;
  color: #77818c;
}

.button + .button {
  margin-left: 10px;
}

@media screen and (max-width: 767px) {
  .button + .button {
    margin-top: 10px;
  }
}

.site-header .button {
  color: #fff;
}

.site-header .button:hover {
  color: #fff;
}

.site-header .button:hover.secondary {
  color: #fff;
}

.site-header .button.secondary {
  color: #344583;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea,
select {
  color: #221f1f;
  border: 1px solid #e4e4e4;
  background: #fff;
  border-radius: 5px;
  padding: 0 1rem;
  height: 50px;
  font-size: 16px;
  font-size: 1rem;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus,
select:focus {
  border: 1px solid #3a75ff;
  background-color: #ffffff;
  outline: none;
}

input[type="text"]:disabled,
input[type="email"]:disabled,
input[type="url"]:disabled,
input[type="password"]:disabled,
input[type="search"]:disabled,
input[type="number"]:disabled,
input[type="tel"]:disabled,
input[type="range"]:disabled,
input[type="date"]:disabled,
input[type="month"]:disabled,
input[type="week"]:disabled,
input[type="time"]:disabled,
input[type="datetime"]:disabled,
input[type="datetime-local"]:disabled,
input[type="color"]:disabled,
textarea:disabled,
select:disabled {
  background: #eff2f6;
  color: #848484;
  border: #e4e4e4;
}

input[type="text"]:disabled:hover,
input[type="email"]:disabled:hover,
input[type="url"]:disabled:hover,
input[type="password"]:disabled:hover,
input[type="search"]:disabled:hover,
input[type="number"]:disabled:hover,
input[type="tel"]:disabled:hover,
input[type="range"]:disabled:hover,
input[type="date"]:disabled:hover,
input[type="month"]:disabled:hover,
input[type="week"]:disabled:hover,
input[type="time"]:disabled:hover,
input[type="datetime"]:disabled:hover,
input[type="datetime-local"]:disabled:hover,
input[type="color"]:disabled:hover,
textarea:disabled:hover,
select:disabled:hover {
  color: #848484 !important;
  cursor: not-allowed;
}

textarea {
  padding: 1rem;
  min-height: 160px;
}

input[type="text"],
input[type="password"],
input[type="tel"],
input[type="email"],
select {
  width: 100%;
}

select {
  border: 1px solid #e4e4e4;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-right: 1.5rem;
  background-image: url("img/arrow_down_passive.svg");
  background-position: right .8rem center;
  background-repeat: no-repeat;
}

select:focus {
  background-image: url("img/arrow_down_hover.svg");
}

textarea {
  width: 100%;
}

input[type="checkbox"], input[type="radio"] {
  margin-right: .5rem;
}

label {
  text-transform: uppercase;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 700;
  color: #344583;
  margin-bottom: 1em;
  display: inline-block;
}

form ul {
  margin: 0;
}

form ul li {
  list-style: none;
  margin-top: 30px;
}

form ul li:first-child {
  margin-top: 0;
}

form p {
  margin-bottom: 30px;
}

.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
  max-width: 100%;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
  display: inline-block;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
  max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption .wp-caption-text {
  margin: 1em 0;
}

.wp-caption-text {
  text-align: center;
  font-size: 12px;
  font-size: 0.75rem;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
  margin-bottom: 1.5em;
}

.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%;
}

.gallery-columns-2 .gallery-item {
  max-width: 50%;
}

.gallery-columns-3 .gallery-item {
  max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
  max-width: 25%;
}

.gallery-columns-5 .gallery-item {
  max-width: 20%;
}

.gallery-columns-6 .gallery-item {
  max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
  max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
  max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
  max-width: 11.11%;
}

.gallery-caption {
  display: block;
}

.alignleft {
  display: inline;
  float: left;
  margin-right: 2.65em;
  margin-bottom: 1em;
}

.alignright {
  display: inline;
  float: right;
  margin-left: 2.65em;
  margin-bottom: 1em;
}

.aligncenter {
  clear: both;
  margin-bottom: 1em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

body,
button,
input,
select,
optgroup,
textarea {
  color: #221f1f;
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.4;
}

h1, h2, h3, h4, h5, h6 {
  clear: both;
  font-family: "Roboto Slab", sans-serif;
  color: #344583;
  line-height: 1.4;
  font-weight: 700;
}

h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
  margin-top: 0;
}

h1 {
  font-size: 30px;
  font-size: 1.875rem;
  margin: 2em 0 1em;
}

h2 {
  font-size: 24px;
  font-size: 1.5rem;
  margin: 2.5em 0 1.25em;
}

h3 {
  font-size: 22px;
  font-size: 1.375rem;
  margin: 2.72727em 0 1.36364em;
}

h4 {
  font-size: 20px;
  font-size: 1.25rem;
  margin: 3em 0 1.5em;
}

h5 {
  font-size: 18px;
  font-size: 1.125rem;
  margin: 3.33333em 0 1.66667em;
}

h6 {
  font-size: 14px;
  font-size: 0.875rem;
  margin: 4.28571em 0 2.14286em;
}

@media (min-width: 1470px) {
  h1 {
    font-size: 36px;
    font-size: 2.25rem;
    margin: 1.66667em 0 0.83333em;
  }
  h2 {
    font-size: 30px;
    font-size: 1.875rem;
    margin: 2em 0 1em;
  }
  h3 {
    font-size: 24px;
    font-size: 1.5rem;
    margin: 2.5em 0 1.25em;
  }
  h4 {
    font-size: 22px;
    font-size: 1.375rem;
    margin: 2.72727em 0 1.36364em;
  }
  h5 {
    font-size: 20px;
    font-size: 1.25rem;
    margin: 3em 0 1.5em;
  }
  h6 {
    font-size: 16px;
    font-size: 1rem;
    margin: 3.75em 0 1.875em;
  }
}

.main-title:after {
  content: "";
  position: absolute;
  width: 30px;
  height: 4px;
  background-color: #e2e2e2;
  left: 0;
  bottom: -25px;
}

@media screen and (max-width: 1469px) {
  .main-title:after {
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}

p {
  margin: 0 0 1.5em;
}

dfn, cite, em, i {
  font-style: italic;
}

blockquote {
  margin: 0 1.5em;
}

address {
  margin: 0 0 1.5em;
}

pre {
  background: #dfeeff;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
}

code, kbd, tt, var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 15px;
  font-size: 0.9375rem;
  background: #dfeeff;
  padding: 0.063em 0.250em;
}

abbr, acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}

mark, ins {
  background: #fff9c0;
  text-decoration: none;
}

big {
  font-size: 125%;
}

blockquote {
  margin: 1.5em;
}
