
.icon-004-wifi:before { content: '\e800'; } /* '' */
.icon-005-dish:before { content: '\e801'; } /* '' */
.icon-006-furniture-and-household:before { content: '\e802'; } /* '' */
.icon-001-speaker:before { content: '\e803'; } /* '' */
.icon-002-man-climbing-stairs:before { content: '\e804'; } /* '' */
.icon-003-iron:before { content: '\e805'; } /* '' */