/* This Awesome CSS file was created by Font Orgranizer from Hive :) */

body { font-family: 'avenir-light-webfont'!important; font-weight:normal!important;  }
h1 { font-family: 'Din Neuzit Grotesk'!important; font-weight:normal!important;  }
h2 { font-family: 'Din Neuzit Grotesk'!important; font-weight:normal!important;  }
h3 { font-family: 'Din Neuzit Grotesk'!important; font-weight:normal!important;  }
h4 { font-family: 'Din Neuzit Grotesk'!important; font-weight:normal!important;  }
h5 { font-family: 'Din Neuzit Grotesk'!important; font-weight:normal!important;  }
h6 { font-family: 'Din Neuzit Grotesk'!important; font-weight:normal!important;  }
p { font-family: 'avenir-light-webfont'!important; font-weight:normal!important;  }
q { font-family: 'avenir-light-webfont'!important; font-weight:normal!important;  }
li { font-family: 'avenir-light-webfont'!important; font-weight:normal!important;  }
a { font-family: 'avenir-light-webfont'!important;   }
h2 span { font-family: 'Din Neuzit Grotesk'!important; font-weight:normal!important; }
h2 a { font-family: 'Din Neuzit Grotesk'!important; font-weight:normal!important; }
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, h1 span, h2 span, h3 span, h4 span, h5 span, h6 span { font-family: 'Din Neuzit Grotesk'!important; font-weight:normal!important; }
.elementor-widget-premium-addon-fancy-text .premium-prefix-text { font-family: 'Din Neuzit Grotesk'!important; font-weight:normal!important; }
.elementor-widget-premium-addon-fancy-text .premium-suffix-text, .elementor-widget-premium-addon-fancy-text .premium-fancy-text { font-family: 'Din Neuzit Grotesk'!important; font-weight:normal!important; }
input { font-family: 'avenir-medium'!important; font-weight:600!important; }
