
.icon-016-check-out:before { content: '\e809'; } /* '' */
.icon-007-password:before { content: '\e80a'; } /* '' */
.icon-008-fan:before { content: '\e80b'; } /* '' */
.icon-009-alarm:before { content: '\e80c'; } /* '' */
.icon-010-hair-dryer:before { content: '\e80d'; } /* '' */
.icon-011-shampoo:before { content: '\e80e'; } /* '' */
.icon-012-toilet-paper:before { content: '\e80f'; } /* '' */
.icon-014-check-in:before { content: '\e811'; } /* '' */
.icon-016-moon-phase-outline:before { content: '\e813'; } /* '' */
.icon-017-policy:before { content: '\e814'; } /* '' */
.icon-018-success:before { content: '\e815'; } /* '' */
.icon-020-radiator:before { content: '\e817'; } /* '' */
.icon-021-office:before { content: '\e818'; } /* '' */
.icon-022-iron-1:before { content: '\e819'; } /* '' */
.icon-025-iron-2:before { content: '\e81c'; } /* '' */
.icon-026-check-out:before { content: '\e81d'; } /* '' */
.icon-028-block:before { content: '\e81f'; } /* '' */
.icon-029-signal:before { content: '\e820'; } /* '' */
.icon-030-mute:before { content: '\e821'; } /* '' */
.icon-001-speaker:before { content: '\e822'; } /* '' */
.icon-003-wifi-connection-signal-symbol:before { content: '\e824'; } /* '' */
.icon-004-restaurant-eating-tools-set-of-three-pieces:before { content: '\e825'; } /* '' */
.icon-005-washing-machine:before { content: '\e826'; } /* '' */
.icon-006-towel:before { content: '\e827'; } /* '' */